In [1]:
import pandas as pd
import os

In [2]:
diretorio_origem = "ride-rawdata"
diretorio_destino = "ride-data"

In [19]:
tabela_horarios = pd.read_excel("bcw-2023.xlsx")
tabela_horarios.head()

,date,day_of_the_week,park_open,park_opening_time,park_closing_time,one_day_ticket_price,sale,holiday,holiday_season,season,...,HotWheels 1730,Acqua 1400,Acqua 1500,Madagascar 1500,Madagascar 1600,Madagascar 1700,Sonho 1800,Excalibur 1200,Excalibur 1430,Excalibur 1800
0,2023-01-01,Domingo,True,10:00:00,19:00:00,NaN,NaN,new_year,summer vacation,high_season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-01-02,Segunda-feira,True,10:00:00,19:00:00,NaN,NaN,NaN,summer vacation,high_season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-01-03,Terça-feira,True,10:00:00,19:00:00,NaN,NaN,NaN,summer vacation,high_season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-01-04,Quarta-feira,True,10:00:00,19:00:00,NaN,NaN,NaN,summer vacation,high_season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-01-05,Quinta-feira,True,10:00:00,19:00:00,NaN,NaN,NaN,summer vacation,high_season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
arquivos = os.listdir(diretorio_origem)

In [20]:
df_fire = pd.read_csv("ride-rawdata/firewhip-05-may.csv")
df_fire.head()

       Ride            Date/Time  Wait Time
0  FireWhip  2023-05-01 10:40:04         40
1  FireWhip  2023-05-01 10:45:04         40
2  FireWhip  2023-05-01 10:50:04         40
3  FireWhip  2023-05-01 10:55:04         40
4  FireWhip  2023-05-01 11:00:04         40

In [ ]:
for arquivo in arquivos:
    if arquivo.endswith(".csv"):
        caminho_arquivo_origem = os.path.join(diretorio_origem, arquivo)
        df = pd.read_csv(caminho_arquivo_origem)
        
        # Renomear as colunas para corresponder ao seu arquivo CSV
        df.rename(columns={"Ride": "ride_name", "Date/Time": "data_hora", "Wait Time": "wait_time"}, inplace=True)

        
        
        # Converter a coluna "data_hora" para o formato de data e hora
        df["data_hora"] = pd.to_datetime(df["data_hora"])

        print(df.head())
        
        # Inicialize uma lista para armazenar as linhas que atendem aos critérios
        linhas_mantidas = []
        
        for indice, linha in df.iterrows():
            data_hora = linha["data_hora"]
            dia = data_hora.date()
            hora = data_hora.time()
            
            # Encontre os horários de abertura e fechamento para o dia atual
            horarios_do_dia = tabela_horarios[tabela_horarios["date"] == dia]
            
            if not horarios_do_dia.empty:
                abertura = horarios_do_dia["park_opening_time"].iloc[0]
                fechamento = horarios_do_dia["park_closing_time"].iloc[0]
                
                # Verifique se a hora está dentro do intervalo de abertura e fechamento
                if abertura <= hora <= fechamento:
                    linhas_mantidas.append(indice)
        
        # Crie um novo DataFrame com as linhas que atendem aos critérios
        df_filtrado = df.loc[linhas_mantidas]
        print(df_filtrado.head())

In [ ]:
# Salvar o DataFrame tratado na pasta de destino
        caminho_arquivo_destino = os.path.join(diretorio_destino, arquivo)
        df_filtrado.to_csv(caminho_arquivo_destino, index=False)